/*
Title: Screen styles
Author: Matthew Mesaros (mesaros.creative@gmail.com)
*/

/* =RESET
----------------------------------------------- */
* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    font-size: 100%;
    font-style: normal;
}

blockquote, q {
    quotes: none;
}

:focus {
	outline: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =FLOAT CLEAR
----------------------------------------------- */
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.group { display: inline-block; }

/* Hides from IE-mac \*/
* html .group { height: 1%; } /* IE6 */
*:first-child+html .group { min-height: 1px; } /* IE7 */
/* End hide from IE-mac */

/* =LINKS
----------------------------------------------- */
a:link, a:visited {
    color: #FFF;
    display: block;
    text-decoration: none;
}

/* =GLOBAL
----------------------------------------------- */
body, html {
    min-height: 100%;
    overflow: hidden;
    height: 100%;
}

body {
    color: #333;
    font-size: 100%;
    font-weight: 200;
    height: auto;
    line-height: 1.45;
    position: relative;
    right: 0;
    width: 100%;
}

h2 {
    border-bottom: 1px dashed rgba(255,255,255,0.2);
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
    padding: 5px 0;
    position: relative;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

/* =NAVIGATION
----------------------------------------------- */
body > header {
    background: url("images/menu-back.jpg") repeat;
    height: 150px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

#skyline {
    background-image: url("images/skyline.png");
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

header > h1 {
    color: #FFFFFF;
    float: left;
    height: auto;
    margin: 20px 50px 0;
    position: relative;
    text-transform: uppercase;
    width: 140px;
}

header > h1 img {
    width: 100%;
}

header > h1 strong {
    display: block;
    font-weight: 700;
}

header > nav {
    position: relative;
    top: 1em;
}

nav ul li {
    position: relative;
}

nav ul li a {
	color: #FFF;
	display: inline-block;
	font-size: 1.25em;
    font-weight: 300;
    padding: 4px 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    z-index: 100;
}

nav ul li a::after {
    background:  hsl(210, 98%, 34%);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 0%;
    z-index: -1;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.2s;
}

nav ul li a:hover::after { width: 10px; }


/* =FOOTER
----------------------------------------------- */
body > footer {
    background: url("images/menu-back.jpg") repeat;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.altfooter {
    background: url("images/menu-back.jpg") repeat;
    height: 50px;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.copyrightfooter{
    text-align: right;
    position: absolute;
    width: 100%;
    top: 15px;

}
/* =CONTACTFORM
----------------------------------------------- */
.contactform {
    display: inline-block;
    background-color: #333;
    margin: 0 auto;
    width: 60%;
}


